:root {
    --primary-color: #a985d3;
    --counter-primary-color: #ffffff;
    --background-color: #36393f;
    --counter-background-color: #2f3136;
    --button-click-color: #ffa41e;
}

body {
    user-select: none;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
}

h1 {
    color: var(--primary-color);
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

#score {
    color: var(--primary-color);
    font-size: 24px;
    border-radius: 10px;
    background-color: var(--counter-background-color);
    padding: 5px;
    margin-top: 20px;
}

#score:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#clickBtn {
    font-family: 'Rubik', sans-serif;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.1s ease;
}

#clickBtn:hover {
    background-color: #46c446;
    transform: scale(1.1);
}

#clickBtn:active {
    transform: scale(0.9);
    background-color: var(--button-click-color);
}

#resetButton {
    font-family: 'Rubik', sans-serif;
    background-color: #575757;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.2s ease;
}

#resetButton:hover {
    background-color: #545662;
    transform: scale(1.1)
}

#resetButton:active {
    transform: scale(0.9);
    background-color: var(--button-click-color);
}

#upgrades-container {
    color: var(--primary-color);
    margin-top: 20px;
    background-color: var(--counter-background-color);
    padding: 20px; /* Innenabstand für den Container */
    border-radius: 5px; /* Abgerundete Ecken für den Container */
}

#upgrades h2 {
    color: var(--primary-color);
}

#upgrades button {
    font-family: 'Rubik', sans-serif;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.1s ease;
}

#upgrades button:hover {
    background-color: #45a049;
    transform: scale(0.9)
}

#upgrades button:active {
    transform: scale(0.7);
    background-color: var(--button-click-color);
}

#upgrades button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.toast-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px; /* Ändere die Breite nach Bedarf */
    max-height: 80vh; /* Begrenze die maximale Höhe, um den Bildschirm nicht zu überladen */
}

.toast-notification {
    background-color: #2d2e33;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    bottom: -200px; /* Startposition unten aus dem Bildschirm */
    right: 0;
    transform-origin: bottom right;
    transition: transform 0.5s ease-in-out;
}

.toast-notification.enter-animation {
    transform: translateY(-12%); /* Verschiebe die Benachrichtigung nach oben */
}

.toast-notification.exit-animation {
    transform: translateX(200%); /* Verschiebe die Benachrichtigung nach rechts */
}

.progress-bar {
    height: 5px;
    background-color: #45a049;
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
    transition: width 0.3s ease;
}

#toggleAutoClicker {
    display: none;  /* Standardmäßig ausblenden */
    font-family: 'Rubik', sans-serif;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#toggleAutoClicker.active {
    background-color: #45a049;  /* Grün, wenn der Auto Clicker aktiv ist */
}

#toggleAutoClicker.inactive {
    background-color: #ff4d4d;  /* Rot, wenn der Auto Clicker inaktiv ist */
}

#toggleAutoClicker:hover {
    background-color: #575757;  /* Grau bei Hover, hier kannst du die gewünschte Farbe anpassen */
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--counter-background-color);
    padding: 20px; /* Innenabstand für den Container */
    border-radius: 5px; /* Abgerundete Ecken für den Container */
    height: 350px; /* Vollständige Höhe des Bildschirms */
}

#stats-container {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--primary-color);
    text-align: left;
    background-color: var(--counter-background-color);
    padding: 20px; /* Innenabstand für den Container */
    border-radius: 5px; /* Abgerundete Ecken für den Container */
}

#stats-container h2 {
    font-size: 30px; /* Schriftgröße für den Statistik-Titel */
    margin-bottom: 8px; /* Abstand unter dem Statistik-Titel */
}

#stats-container p {
    font-size: 22px;
    margin: 5px 0;
}

#achievements-container {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: left;
    background-color: var(--counter-background-color);
    padding: 20px; /* Innenabstand für den Container */
    border-radius: 5px; /* Abgerundete Ecken für den Container */
    color: var(--primary-color);
}

#achievements-container h2 {
    font-size: 30px; /* Schriftgröße für den Statistik-Titel */
    margin-bottom: 8px; /* Abstand unter dem Statistik-Titel */
}

#achievements-container p {
    font-size: 22px; /* Schriftgröße für die Statistik informationen */
    margin: 5px 0; /* Abstand oben und unten für jede Statistik information */
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-top: 10px;  /* Ändere den Abstand zum darüberliegenden Element nach Bedarf */
}

.tooltip::after {
    content: attr(title);
    position: absolute;
    background: #2d2e33;
    color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    top: 670%;  /* Positionierung unter dem Stats-Container */
    left: -14%;  /* Zentrierung relativ zum übergeordneten Element */
    transform: translateY(120%);  /* Zentrierung relativ zum Tooltip selbst */
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

/* Developer Overlay */

#devOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

#devOverlay.show {
    opacity: 1;
    pointer-events: auto;
}

#devButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.devButton {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    user-select: none;
    font-family: 'Rubik', sans-serif;
    transition: background-color 0.2s ease;
}
.devButton:hover {
    background-color: #45a049;
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
}

.devButton:not(:hover) {
    transform: scale(1.0);
    transition: all 0.2s ease-in-out;
}

#devContent {
    user-select: none;
    border: 2px solid #4a4e57;
    border-radius: 10px;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

#devContent p {
    margin: 0;
}

#clover-container {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    width: 100vw; /* Breite des Containers auf die gesamte Bildschirmbreite setzen */
    height: 100vh; /* Höhe des Containers auf die gesamte Bildschirmhöhe setzen */
}

.clover {
    position: absolute;
    font-size: 20px;
    color: green; /* Ändern Sie die Farbe nach Bedarf */
    animation: fall linear;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    z-index: -1;
    filter: blur(40px);
    opacity: 0;
    transition: all 2s ease;
    animation: fadeIn 2s ease forwards; /* Verwende die fadeIn-Animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}